<div class="popup d-flex flex-column">
    <div class="header">
        <div class="d-flex justify-content-between">
            <div></div>
            <h5>ChatONE</h5>
            <div></div>
        </div>
    </div>
    <div #body class="body">
        <div class="d-flex flex-column">
            <div class="card from-support" *ngIf="!hasKey">
                <div class="card-body">Please provide your ChatGPT API key through the message box.</div>
            </div>
            <div class="card from-support" *ngIf="hasKey">
                <div class="card-body">Hello, I am ChatONE, please ask me any question.</div>
            </div>
            <div *ngFor="let message of messages$ | async" class="card" [class.from-user]="message.role === 'user'"
                [class.from-support]="message.role !== 'user'">
                <div class="card-body">
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="d-flex align-items-end">
            <button class="btn btn-primary" [disabled]="!hasKey || message.trim().length > 0 || waiting"
                (click)="switchRecording()" title="Transcribe">
                <doc-icon [name]="isRecording ? 'stop' : 'microphone'"></doc-icon>
            </button>
            <textarea docBlur #messageInput id="data" [placeholder]="placeholder" rows="1" class="form-control"
                [disabled]="waiting" [(ngModel)]="message" (keyup)="autosizeMessageInput()"
                (keypress)="textareaKeypress($event)"></textarea>
            <button class="btn btn-primary" [disabled]="message.trim().length === 0" (click)="sendMessage()"
                title="Send">
                <doc-icon name="paper-plane"></doc-icon>
            </button>
        </div>
    </div>
</div>